<table class="table">
	<tr><%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "no_image.jpg" %></tr>
	<tr>
		<th><%= @user.name %></th>
	</tr>
	<tr>
		<p>フォロー 15</p><br>
		<p>フォロワー 26</p>
	</tr>
</table>