<div class="container">
	
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile', user: current_user %>
		</div>

		<div class="col-xs-9">
			<h2>投稿作品</h2>
			<div class="post_items">
				<% @items.each do |i| %>
				<%= link_to item_path(i) do %>
				<%=attachment_image_tag(i,:img ,:fill,300,300,fallback:"noimg.jpg",size:"240x240") %>
				<% end %>
			</div>
		</div>
	
	
   </div>
</div>
