<div class="row">
	<div class="about-yell col-12">
		<%= image_tag asset_path("about.001.png"), class:"d-block w-100" %>
	</div>
	<div class="about-yell-2 col-12">
		<%= image_tag asset_path("about.002.png"), class:"d-block w-100" %>
	</div>
</div>