<div class="row">
	<div class="bg-white genre-index pd-20 col-2">
		<%= render 'genres/genre' %>
	</div>

	<div class="items offset-1 col-10">
	  <div class="d-flex flex-wrap">
		<% @items.each do |item| %>
		  <div class="items_view flex-sm-row ml-4 mt-3 rounded border border-info">
			<%= link_to item_path(item) do %>
			  <%=attachment_image_tag(item,:img ,:fill,300,300,fallback:"noimg.jpg",size:"200x200") %>
		    <% end %>
		  </div>
		<% end %>
	  </div>
	</div>
</div>


<div class="col-md-offset-10">
	<%= paginate @items %>
</div>
