/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar{
	background-color: #f0862e;
}

.navbar-brand{
	font-family: nicoca;
}

.nav-item{
	font-family: nicoca;
	.link{
	text-decoration: none;
    }
    &:hover {
        transform: scale(1.1) rotate(4deg);
    }
}

body{
	font-family: nicoca;
	background-color: #fbefd4;
}

.hot_word{
	margin-top: 20px;
}

.hot_word_list{
	margin-bottom: 20px;
	font-size: 25px;
}

.nav-link{
	font-size: 20px;
	color: #fbdc00;
	text-decoration: none;
}

.user_form{
	font-family: sans-serif;
}

// img{
// 	border-radius: 20px;
// }

